---
import BaseLayout from "../layouts/BaseLayout.astro";
import { ForgotPasswordForm } from "../components/forgot-password-form";
---

<BaseLayout
  title="Forgot password"
  description="Reset your password."
  bodyClass="bg-primary/20"
  showHeader={false}
  showFooter={false}
>
  <div slot="main" class="flex min-h-dvh items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-sm md:max-w-5xl">
      <ForgotPasswordForm client:load />
    </div>
  </div>
</BaseLayout>
